---

---

<footer class="border-t border-gray-800 py-8">
    <div
        class="max-w-7xl mx-auto px-8 flex items-center justify-between text-sm text-gray-500"
    >
        <div>© 2025 Kito Project · All rights reserved.</div>
        <div class="flex items-center space-x-8">
            <a
                href="https://github.com/kitojs/kito"
                class="hover:text-white transition">GitHub</a
            >
            <a href="/docs" class="hover:text-white transition">Docs</a>
        </div>
    </div>
</footer>
